#glob-pictures {
  width: 100%;
  justify-content: center;
}

h1{
  font-weight: 300;
  margin-bottom: 40px;
  padding: 5px;
  font-size: 50px;
  background-color: black;
  color: #fff;
  font-family: "Lucida Bright", Georgia, serif; 
  margin-top: 0px;
}

.answer{
  border: 2px solid grey;
}

body{
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  color: white;
  font-weight: 300;
  text-align: center;
  background-image: url("../Images/group_picture.jpg");
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
}

.column {
  float: left;
  width: 32.5%;
  padding: 5px;
  border-radius: 100px;
  cursor: pointer;
}

/* Clear floats after image containers */
.row {
  clear: both;
  display: table;
  justify-content: center;
  margin-bottom: 20px;
}

#who{
  font-size: 30px;
  font-weight: bolder;
}

#affirmation{
  margin-top: 0px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

#quote{
  margin-bottom: 30px;
  font-size:50px;
}

#score-temp{
  font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    background-color:brown;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 10px;
    margin-top:30px;
    margin-left: 400px;
    margin-right: 400px;
}


#button-next, #next{
  font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #287FB4;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}

#next{
  border-radius: 3px;
}

.game-btn {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
}

