#glob-pictures {
  width: 100%;
  justify-content: center;
  border: solid 1px black;
}

body{
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  color: white;
font-weight: 300;
text-align: center;
background-color: #1E2433;
}

#who{
  position: absolute;
  margin: 300 0;
  padding: 300 0;
}

button{
  font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #287FB4;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
